@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    background-color: var(--color-bg);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.container{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_chat{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_chat.message{
    height: 0;
}

.chat_space{
    align-items: center;
    gap: 20px;
}

.chat_space.message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    padding-bottom: 25px;

    z-index: 1000;
}

.form_content{
    background: var(--color-bg-form);
    border-radius: 30px;

    padding: 10px;

    width: 650px;
}

h1{
    color: var(--color-user);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-h1);
}

h1.message{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    all: unset;
    
    width: 100%;
    margin-bottom: 10px;

    color: var(--color-user);
    background: var(--color-bg-form);

    white-space: pre-wrap;
    text-wrap-mode: nowrap;
}

.form_content div div{
    display: flex;
    justify-content: flex-end;
}

button{
    background-color: var(--color-btn);
    color: var(--color-btn-text);
    
    width: 36px;
    height: 36px;

    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.conversation {
    display: flex;
    flex-direction: column;

    padding: 0 16px;

    width: 100%;

    overflow-y: auto;
    max-height: calc(100vh - 150px); /* Ajusta dinamicamente para caber na tela */
    align-items: center; /* Centraliza o conteúdo, barra vai para a direita */
    box-sizing: border-box;
    margin: 0 auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) var(--color-bg);
}

.conversation::-webkit-scrollbar {
    width: 8px;
}
.conversation::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 4px;
}
.conversation::-webkit-scrollbar-track {
    background: var(--color-bg);
}

@media (max-width: 698px) {
    .container {
        padding: 0 10px;
    }

    .chat_space {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .chat_space.message{
        padding-bottom: 0px;
        margin: 0 5px 0 5px;
    }

    .form_content{
        max-width: 80%;
    }

    .form_content.message {
        width: 100%;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="text"] {
        margin: 5px;
        font-size: var(--font-size-base-mobile);
    }

    button {
        width: 32px;
        height: 32px;
    }

    .conversation {
        padding: 0 8px;
        max-width: 100%;
    }
}