<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Document</title>
    {% endblock %}

    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/user.css">
    <link rel="stylesheet" href="./style/chat_bot.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    {% block styles %}
    {% endblock styles %}
</head>
<body>

    <div class='container'>
        {% block container %}
            
        {% endblock %}
        
        <div class="box-content">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>

    {% block modal %}
    {% endblock modal %}
</body>
    {% block script %}
    {% endblock %}
</html>