<div class="user">
    <div class="user_mensagem">
        <p>
            Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario, Mensagem do usuario
        </p>
    </div>
</div>
